<h1>Borrowers#create</h1>
<p>here's borrower raw <%= @borrower.inspect %></p>
<p>data saved: <%= @save %> </p>
<p>here's t3header <%= @t3header.inspect %></p>
<p>here's the response <%= @response.inspect %><p/>

<p>Status: <%= @response.xpath('//Status').text %> </p>
<p>Price: <%= @response.xpath('//Price').text %> </p>
<p>Status: <%= @response.xpath('//Redirect').text %> </p>
