<% # title and description for seo %>
<% content_for :seotags do %>
<title>Payday Loan Laws | The Payday Hound</title>
<meta name="description" content= 'See individual state payday lending laws and regulations. Compare lenders. Make informed decisions at The Payday Hound.' />
<% end %>


	<aside id ="sidebarFinder">	

			<%# render(:partial => "shared/sidebars/applicant")%>
	    <%= render(:partial => "shared/sidebars/sidebar")%>	

	</aside>

	<section id = "mainContent">

		  <%= render(:partial => "shared/loanfinder")%>
		<h1>Payday Loan State Laws</h1>
				<p>Payday lending laws are ideally designed to protect you from unfair lending practices as well as to create a level playing field for lenders. The reason these laws matter to you is that if you are in a regulated state, you can leverage the state's monitoring and enforcement to help you avoid unscrupulous lenders. And if you live in a state where payday lending is prohibited, it is good to understand your options.</p>
			<div class= "clearBoth"></div>
			<div class = "lawSummaryContent">

				<h2>Types of Lenders</h2>
				<p>There are basically four types of lenders:
					<ul>
						<li>in-state licensed lenders,</li>
						<li>out-of-state unlicensed lenders,</li>
						<li>tribal lenders, and</li>
						<li>foreign-based lenders.</li>
					</ul>
				In-state licensed lenders are regulated and monitored by each state's regulator for compliance. They must also adhere to federal regulations. Out-of-state and tribal lenders will operate in states unlicensed based on the practice of exporting their states' or tribes' laws into your state. They are regulated by their states or tribes, but as a resident of neither, you often have less recourse if things go wrong. These lenders must also adhere to federal regulations. The last group of lenders are foreign-based lenders. They operate on the premise that they export their countries' laws into your state.<p/>

				<h2>What Lender Type is Best</h2> 
				<p>There are unscrupulous lenders in all categories, so the type that is best is the one where the enforcement of fair lending practices is most likely and that is in-state licensed lenders. These lenders are regulated by the state and the federal government. They often must pass state compliance requirements. There is wider variation in quality with tribal lenders, but in recent years these lenders have improved. The worst of these tribal lenders are fly-by-night entities that "rent a tribe" and operate until they are shut down. The better tribal lenders build long term businesses and some are Silicon Valley backed entities that have established long term partnerships with tribes and use tribal law to simplify compliance. These lenders are often licensed in states where necessary. The most risky choice is foreign-based entities. The typical case is a small lender that sets up in a Caribbean tax haven and operates outside of U.S. laws. There were more of these lenders in the past, but recent actions by the FTC and others have reduced these lenders. In general, the best choice is a state licensed lender or a reputable tribe-based lender.</p> 

				<h2>How to Use This Table</h2>
				<p>We have categorized regulations by state. Click on your state to learn about your state's regulations as well as to see links to resources provided by your state. If your state permits and regulates payday lending, you can use links to their licensee databases to see if a lender is licensed. You can also ensure that your terms are in compliance and learn about your rights with regards to collections and repayment. If your state does not permit payday lending, there may be no payday loan options, as some states enforce this more than others. If there are options, they will be tribal, out-of-state lenders, or foreign-based lenders. These lenders may be completely unregulated.</p>

				<h2>Payday Lending Laws Going Forward</h2>
				<p>Regulations around payday lender laws are rapidly changing. Not everyone agrees that tribes or other entities can export rates into other states. More recently, the Consumer Financial Protection Bureau has begun to study the payday lending industry. It is our opinion that a comprehensive and consistent regulatory environment will benefit consumers. The end result will be a more level playing field for lenders, improved consumer protection, and, we believe, lower costs.</p>
			</div>	

			<%= render 'shared/state_selector' %>

			<%= render(partial:'shared/ads/google_728x90') %>

    <%=  render(:partial => "shared/media_counters")%>

	</section>
