<% # title and description for seo %>
<% content_for :seotags do %>
<title><%= @state.state_abbr %> Payday Loan Laws -- The Payday Hound</title>
<meta name="description" content= '<%= "Payday loans are #{@paydaylawstate.legal_status.downcase} in #{@state.state_abbr}. The Payday Hound provides summary data on payday loan laws in #{@state.state}." %>' />
<% end %>

<div id="wrapper">
	<section id = "mainContentFull">
		<h1><%= "#{@state.state}" %> Payday Loan Laws</h1>
		<div class = "lawContent">
			<div class = "lawSideBoxes">
						<div class = "lawSideBox">
							<h2>Regulator Details</h2>
							<h3><%= @paydaylawstate.regulator %></h3>
							<% if !@paydaylawstate.regulator_division.nil? %>
								<div><%= @paydaylawstate.regulator_division %></div>
							<% end %>
							<div><%= @paydaylawstate.regulator_address %></div>
							<div><%= "#{@paydaylawstate.regulator_city}, #{@paydaylawstate.state_abbr} #{@paydaylawstate.regulator_zip}" %></div>
							<div>Phone: <%= @paydaylawstate.regulator_phone %></div>
							<% if !@paydaylawstate.regulator_fax.nil? %>
								<div>Fax: <%= @paydaylawstate.regulator_fax %></div>
							<% end %>	
							<% if !@paydaylawstate.regulator_contact.nil? %>
								<div>Contact: <%= @paydaylawstate.regulator_contact %> </div>
							<% end %>		
							<div><%= link_to("#{@state.state}'s Regulator Website", @paydaylawstate.regulator_site, :rel => 'nofollow', :target => '_blank') %></div>						
						</div>
						<% if @paydaylawstate.additional_resources %>
							<div class = "lawSideBox">
								<h2>Additional Resources</h2>
								<% if !@paydaylawstate.license_database.nil? %>
									<div><%= link_to("#{@state.state}'s Licensee Database", @paydaylawstate.license_database, :rel => 'nofollow', :target => '_blank') %></div>
								<% end %>						
								<% if !@paydaylawstate.complaint_form.nil? %>
									<div><%= link_to("#{@state.state}'s Complaint Form", @paydaylawstate.complaint_form, :rel => 'nofollow', :target => '_blank') %></div>
								<% end %>
								<% if !@paydaylawstate.complaint_instructions.nil? %>
									<div><%= link_to("#{@state.state}'s Complaint Instructions", @paydaylawstate.complaint_instructions, :rel => 'nofollow', :target => '_blank') %></div>
								<% end %>
								<% if !@paydaylawstate.resource_one_title.nil? %>
									<div><%= link_to("#{@paydaylawstate.resource_one_title}", @paydaylawstate.resource_one, :rel => 'nofollow', :target => '_blank') %></div>
								<% end %>																
								<% if !@paydaylawstate.resource_two_title.nil? %>
									<div><%= link_to("#{@paydaylawstate.resource_two_title}", @paydaylawstate.resource_two, :rel => 'nofollow', :target => '_blank') %></div>
								<% end %>				
							</div>
						<% end %>	
			
			</div>
			<div class = "lawContentMain">
				<p>Payday lending is <%= @paydaylawstate.legal_status.downcase %> in <%= @state.state %> 
					<% if @paydaylawstate.legal_status_summary == "Legal" %>
						(see <%= link_to("#{@state.state_abbr} Payday Loans", "/payday-loans/#{@state.state_abbr.downcase}") %> or <%= link_to("#{@state.state_abbr} Installment Loans", "/installment-loans/#{@state.state_abbr.downcase}") %>) for detailed reviews on individual lenders.
						<% else %>
						but there may be unlicensed lenders offering payday loans in <%= @state.state %>.</p> 
						<p>These lenders export their tribal or state laws into <%= @state.state %>. Not all states permit exportation of laws and some states enforce their ban more strictly but we do see lenders offering payday loans in states where it is prohibited. In any event remember these lenders are not licensed or regulated by <%= @state.state %> and may even be operating illegally so proceed with caution. See <%= link_to "#{@state.state_abbr} payday loans", "/payday-loans/#{@state.state_abbr.downcase}" %> or <%= link_to "#{@state.state_abbr} installment loans", "/installment-loans/#{@state.state_abbr.downcase}" %> to see if any of the lenders we have reviewed are offering loans in <%= @state.state %>.
						<% end %>
				</p>

				<% if @paydaylawstate.legal_status_summary == "Legal" %>
					<table>
						<tr>
							<th class = "lawCellLeft">Feature</th>
							<th class = "lawCellRight">Specification</th>
						</tr>
						<tr>
							<td class = "lawHeading">Amount (max)</td>
							<td class = "lawData"><%= @paydaylawstate.max_loan %></td>
						</tr>
						<tr>
							<td class = "lawHeading">Rates or Fees (max)</td>
							<td class = "lawData"><%= @paydaylawstate.max_rates %></td>
						</tr>
						<tr>
							<td class = "lawHeading ">Term Limitations</td>
							<td class = "lawData"><%= @paydaylawstate.term %></td>
						</tr>
						<caption>General Loan Terms</caption>						
					</table>
					<div>
						<p>
							<% case @paydaylawstate.rollovers %>
							<% when nil %>
								<%= @state.state %> regulations mention nothing about rollovers.
							<% when "no" %>
								Rollovers are not permitted in <%= @state.state %>.
							<% else %>
								In <%= @state.state %>, <%= @paydaylawstate.rollovers %>.
							<% end %>	
	
							<% case @paydaylawstate.cooling_period %>
							<% when nil %>
								Nothing is mentioned about cooling periods between loans.
							<% when "None" %>
								There is no cooling period specified between loans.
							<% else %>
								The cooling period between loans is <%= @paydaylawstate.cooling_period %>.
							<% end %>	
							
							<% case @paydaylawstate.repay_plan %>
							<% when nil %>
								<%= @state.state %> has no requirements for extended repayment plans.
							<% when "Yes" %>
								<%= @state.state %> requires extended repayment plans.
							<% else %>
								<%= @state.state %> <%= @paydaylawstate.repay_plan %>
							<% end %>	
						</p>
					</div>
					<p>For example, in <%= @state.state %> the rates and fees on a 14 day, $100 loan are:</p>
					<table>
						<tr>
							<th class = "lawCellLeft">Terms</th>
							<th class = "lawCellRight">Amount</th>
						</tr>					
						<tr>
							<td class = "lawHeading">Loan Amount</td>
							<td class = "lawData">$100</td>
						</tr>
						<tr>
							<td class = "lawHeading ">Fees</td>
							<td class = "lawData"><%= @paydaylawstate.fee_14day_100 %></td>
						</tr>
						<tr>
							<td class = "lawHeading ">APR</td>
							<td class = "lawData"><%= @paydaylawstate.apr_14day_100 %></td>
						</tr>																
						<caption>Sample Loan Terms</caption>						
					</table>	

					<% if @paydaylawstate.collection_terms %>
						<p><%= @state.state %> also defines regulations around collections. If available, the table below lists the fees lenders are permitted to charge if the loan is not repaid and/or whether a lender can threaten use of or use criminal action if a borrower is unable to repay a loan.</p>
						<table>
							<tr>
								<th class = "lawCellLeft">Feature</th>
								<th class = "lawCellRight">Specification</th>
							</tr>
							<% if !@paydaylawstate.collect_fee.nil? %>
								<tr>
									<td class = "lawHeading">Collection Fees</td>
									<td class = "lawData"><%= @paydaylawstate.collect_fee %></td>
								</tr>
							<% end %>
							<% if !@paydaylawstate.criminal_action.nil? %>
							<tr>
								<td class = "lawHeading ">Criminal Action</td>
								<td class = "lawData"><%= @paydaylawstate.criminal_action %></td>
							</tr>								
							<% end %>
							<caption>Regulations on Collections</caption>						
						</table>	
					<% end %>	
					<% if !@paydaylawstatedetails.ncsl_citation_excerpt.nil? %>
						<div> Finally, a more detailed excerpt from <%= @state.state %>'s statutes on finance charges is listed below. In general the tables above summarize this.
							<p class = "lawExcerpt"><%= @paydaylawstatedetails.ncsl_citation_excerpt %></p>
						</div>
					<% end %>	

					<div class = "lawCitation">Citation: <%= @paydaylawstate.citation %><%= @paydaylawstate.citation.last != "." ? "." : ""%></div>
				<% end # if statement for states where payday lending is Legal%> 
				<div class = "lawDisclaimer">The data provided here is for general informational purposes and should not be used as legal reference. If you have questions regarding <%= @state.state %> payday loan laws contact the <%= @paydaylawstate.regulator %>.</div>
			</div> 
			<% # end lawContentMain %>
		</div> 
		<% # end lawContent %>

		<div class = "socialMedia">
			<span class='st_facebook_hcount' displayText='Facebook'></span>
			<span class='st_googleplus_hcount' displayText='Google +'></span>
			<span class='st_twitter_hcount' displayText='Tweet'></span>
			<span class='st_email_hcount' displayText='Email'></span>
			<span class='st_sharethis_hcount' displayText='ShareThis'></span>
		</div>

	</section>
</div>
