<% # title and description for seo %>
<% content_for :seotags do %>
<title>Compare the Top <%= pluralize(@secureds.size, "Secured Card") %> - The Payday Hound</title>
<meta name="description" content="Compare secured card fees, features, and requirements. Calculate and compare the cost of ownership on <%= pluralize(@secureds.size,"secured card") %>"/>
<% end %>

<aside id ="sidebarFinder">

		<%= render(:partial => "shared/sidebars/securedfinder")%>
    <%= render(:partial => "shared/sidebars/sidebar")%>


</aside>


<section id="mainContent">
  <h1>Secured Credit Cards</h1> 
 	<p>Secured credit cards can help build and repair credit. Secured cards do not require a good credit score and many secured card companies do not even check your credit report. Secured cards are great for students, ex-pats, and people rebuilding their credit.</p>
  <p>Secured cards are real credit cards and their usage is reported to the three major bureaus. This means that unlike prepaid or debit cards, responsible usage of a secured card can build and improve your credit history. To get a secured card banks require a deposit that they hold as collateral for your credit card. This deposit is fully refundable when you close your account if you have paid off your account in full.</p>
  <p>Secured cards are a great tool for people who need to build or rebuild their credit. The Payday Hound believes they are a great choice.</p>
  <p>To learn more visit <%= link_to('What is a Secured Card', "/what-is-a-secured-credit-card/") %> and <%= link_to('The Best Secured Cards.', "/bad-credit-credit-card-secured-card/") %> Use our Secured Card Cost Calculator to the left to help you find a secured card.</p>
  <p class = "tableIntro">We have reviewed <%= pluralize(@secureds.size, "secured card") %>.</p>

  <span id = "securedCards" class = "jsData"><%= @secureds.size %></span>
  <span id = "duration" class = "jsData"><%= @duration %></span>
  <span id = "purBal" class = "jsData"><%= @pur_balance %></span>
  <span id = "cashBal" class = "jsData"><%= @cash_balance %></span>
 
  <table id = "securedCardTable" class="cardListing tablesorter" summary="full lender list">
    <thead>    
      <tr class="securedTableHeader">
        <th><div class = "headCost">Est. Cost/Month</div></th>
        <th><div class = "headName">Company Name</div></th>
        <th class = "headDesc">Description</th>
        <th><div  class = "headApply">Apply</div></th>   
      </tr>
    </thead>
    <tbody>    
      <% @secureds.each.with_index do |s,i| %>
      <tr>
        <td class = "cardCost" id = <%="cardCost#{i}" %>><%= number_to_currency((((@duration/12.00).ceil*s.annual_fee)+(@duration*s.monthly_fee)+((@duration/12.0)*365.0*(@pur_balance*s.purchase_apr/100/365 + @cash_balance*s.cash_apr/100/365)))/@duration, :precision => 2) %></td>
        <td colspan = 3 class = "cardInfo">
            <table width = 100% >
              <tr>    
                <td class = "cardInfoName">
                    <div><%= link_to(image_tag("secured/#{s.image_file}", :alt => s.name ),  partner_path(s.partner_id), :rel =>'nofollow', :target => "_blank") %></div>
                    <div class = "cardNameUnderImage"><%= link_to s.name, secured_path(s.review_url) %></div>
                </td>
                <td class = "cardInfoDesc">
                  <div><%= s.first_comment %></div>
                  <div><%= s.second_comment %></div>
                  <div><%= s.third_comment %></div>
                  <div><a href=<%="javascript:Tog(#{s.id})" %>>More Info</a></div>
                </td>  
                <td class = "cardInfoApply">
                    <%= link_to("APPLY", partner_path(s.partner_id), :rel =>'nofollow', :class => "cardApplyButton", :target => "_blank") %>
                  <div class = "cardInstantDecision"><%= !s.inst_decision? ? "":link_to("instant decision", partner_path(s.partner_id), :page => @page, :rel=>'nofollow', :target => "_blank") %></div>
                </td>
              </tr>    
              <tr>
                <td colspan = 3>
                    <table id = "<%=s.id %>" class = "cardDetails" style="overflow:hidden;display:none">
                      <tr>
                        <td class = "jsData">
                          <span id = <%="annualFee#{i}" %>><%= s.annual_fee.nil? ? 0 : s.annual_fee %></span>
                          <span id = <%="monthlyFee#{i}" %>><%= s.monthly_fee.nil? ? 0 : s.monthly_fee %></span>
                          <span id = <%="purAPR#{i}" %>><%= s.purchase_apr %></span>
                          <span id = <%="cashAPR#{i}" %>><%= s.cash_apr %></span>
                        </td>                
                      </tr> 
                      <%= render 'secured_card_features_row', :s => s %>   
                    </table>  
                </td>
              </tr>
            </table>
        </td>
      </tr>
      <% end %>
    </tbody>    
  </table>	
  
  
  <%=  render(:partial => "shared/media_counters")%>

</section>
