
<% ( @blog/'/rss/channel/item' )[0..1].each do |i| %>
  <p>	<%= (i/'./title').text %><br>
  		<%= (i/'./wp:post_name').text %><br>
  		<%= (i/'./pubDate').text %><br>
  		<%= (i/'./dc:creator').text %><br>
  		<% (i/'./wp:postmeta').each do |mp| %>
  			<% if (mp/'./wp:meta_key').text == "_yoast_wpseo_metadesc" %>
  				<%= (mp/'./wp:meta_value').text %><br>
  			<% end %>
  			<% if (mp/'./wp:meta_key').text == "_yoast_wpseo_title" %>
  				<%= (mp/'./wp:meta_value').text %><br>
  			<% end %>
  		<% end %>
  		<% (i/'./category').each do |c| %>
  			<%= "Category: #{(c).text}" %><br>
  		<% end %>
  		<%= (i/'./content:encoded').text %><br>	
  </p>
<% end %>
