<% content_for :seotags do %>
<title><%= "Articles for #{@category.topic}" %> | The Payday Hound </title>
<meta name="description" content= "<%= "Save money. Make smart decisions. Catch up on #{@category.topic} and protect yourself while saving money." %>" />
<% end %>

<div id="mainContent">

	<h1>Articles for <%= @category.topic %></h1>
	<p>Save money and make prudent decisions. Review our articles on <%= @category.topic %>. Learn about borrowing, fees, rates, and payments. Our articles can help you make informed financial decisions to protect yourself and save money. Get the facts so you can make a decision that's best for your situation.</p>

	<% @articles.each do |article| %>
	<article>
		<h1><%= link_to article.title, article_path(article.slug)%></h1>
		<div class = "articleByline">
			Updated <%= article.updated_at.strftime("%B %d, %Y") %>
			<%= render partial:'shared/article/add_categories', locals: {article: article} %>
		</div>
		<div><%= raw(article.article) %></div>

		<%# Social Media counters targeted to article url%>
		<p>
			<div class = "socialMedia">
				<span class='st_plusone_hcount' displaytext="pluson" st_url= "<%="https://www.thepaydayhound.com/learn/#{article.slug}/" %>" st_title="<%="#{article.title}" %>"></span>
				<span class="st_fblike_hcount" displaytext="facebook" st_url= "<%="https://www.thepaydayhound.com/learn/#{article.slug}/" %>" st_title="<%="#{article.title}" %>"></span>

				<span class='st_twitter_hcount' displaytext="twitter" st_url= "<%="https://www.thepaydayhound.com/learn/#{article.slug}/" %>" st_title="<%="#{article.title}" %>"></span>
				<span class='st_sharethis_hcount' displaytext="sharethis" st_url= "<%="https://www.thepaydayhound.com/learn/#{article.slug}/" %>" st_title="<%="#{article.title}" %>"></span>
			</div>
		</p>
	</article>	
	<% end %>

	<%= paginate @articles %>

</div>

<aside id ="sidebarArticle">
<%= render partial:'shared/sidebars/articles_sidebar' %>
	<% # render(:partial => "shared/sidebars/paydayfinder")%>
  <% # render(:partial => "shared/sidebars/sidebar")%>
</aside>