<div class = "criteria">

  <h2>Loan Filter</h2>

<%= form_tag({:controller =>'lenders', :action => 'finder'}, :method => 'get', :id => "findPaydayForm", :class => "cardCalc", :target => "_parent") do %>
  <div class="formSection">

    <div class="formLabel"><%= label_tag(:sniff_score) %></div>
    <div class="formLabelDesc">Lender Reputation</div>
    
    <% if @criteria.nil? %>
      <div class="formInput"><%= radio_button_tag(:sniff_score, "1") %>Great
        <%= radio_button_tag(:sniff_score, "2") %>Fair
        <%= radio_button_tag(:sniff_score, "3", options = {:checked => true}) %>Bad</div>
    <% else %>
      <div class="formInput">
        <% # the @criteria.sniff_id is boolean which triggers checked or not checked %>
        <%= radio_button_tag(:sniff_score, "1", @criteria.sniff_id == 1) %>Great
        <%= radio_button_tag(:sniff_score, "2", @criteria.sniff_id == 2) %>Fair
        <%= radio_button_tag(:sniff_score, "3", @criteria.sniff_id == 3) %>Bad
      </div>  
    <% end %>    
  </div>
  
  <div class="formSection">
    <div class="formLabel"><%= label_tag(:ranking) %></div>
    <div class="formLabelDesc">Sniff and Pricing</div>
    <% if @criteria.nil? %>
      <div class="formInput">
        <p><%= radio_button_tag(:ranking, "5") %><%= image_tag("rankings/Payday-Loan-Rank-Star-5.png", :alt => "5 star")%></p> 
        <p><%= radio_button_tag(:ranking, "4") %><%= image_tag("rankings/Payday-Loan-Rank-Star-4.png", :alt => "4 star")%></p> 
        <p><%= radio_button_tag(:ranking, "3") %><%= image_tag("rankings/Payday-Loan-Rank-Star-3.png", :alt => "3 star")%></p>
        <p><%= radio_button_tag(:ranking, "2") %><%= image_tag("rankings/Payday-Loan-Rank-Star-2.png", :alt => "2 star")%></p> 
        <p><%= radio_button_tag(:ranking, "1", options = {:checked => true}) %><%= image_tag("rankings/Payday-Loan-Rank-Star-1.png", :alt => "1 star")%></p>
      </div>
    <% else %>
      <div class="formInput">
        <p><%= radio_button_tag(:ranking, "5", @criteria.ranking == 5) %><%= image_tag("rankings/Payday-Loan-Rank-Star-5.png", :alt => "5 star")%></p> 
        <p><%= radio_button_tag(:ranking, "4", @criteria.ranking == 4) %><%= image_tag("rankings/Payday-Loan-Rank-Star-4.png", :alt => "4 star")%></p> 
        <p><%= radio_button_tag(:ranking, "3", @criteria.ranking == 3) %><%= image_tag("rankings/Payday-Loan-Rank-Star-3.png", :alt => "3 star")%></p>
        <p><%= radio_button_tag(:ranking, "2", @criteria.ranking == 2) %><%= image_tag("rankings/Payday-Loan-Rank-Star-2.png", :alt => "2 star")%></p> 
        <p><%= radio_button_tag(:ranking, "1", @criteria.ranking == 1) %><%= image_tag("rankings/Payday-Loan-Rank-Star-1.png", :alt => "1 star")%></p>
      </div>
    <% end %>     
  </div>

  <div class="formSection">
    <div class="formLabel"><%= label(:state, :state) %></div>
    <div class="state_id_container formInput"><%= select(:state, :id, State.all.collect {|s| [s.state, s.id]}) %></div>
  </div>
  
  <div class="formSection">
    <div class="formLabel"><%= label_tag(:lender_type) %></div>
    <div class="formInput">
      <%= radio_button_tag(:lender_type, "payday", @lender.lender_type=="payday") %> Payday
      <%= radio_button_tag(:lender_type, "term",@lender.lender_type=="term") %> Installment</div>
  </div>
  <%= submit_tag "FIND LOAN", :class => "findLoanButton" %>
<% end %>

</div>
