<div class = "sidebarPDH">
	<h3><%= link_to 'the payday hound', homes_path %></h3>
	<h4>find cash simply</h4>
	<p><%= link_to 'Largest Database of Ranking and Reviews', '/why-use-the-payday-hound/' %></p>
	<p><%= link_to 'Find Pre-Approved Lenders Instantly', '/why-use-the-payday-hound/' %></p>
	<p><%= link_to 'Higher Acceptance Rates', '/why-use-the-payday-hound/' %></p>
	<p><%= link_to 'Save Money and Compare', '/why-use-the-payday-hound/' %></p>
	<p><%= link_to 'Apply Direct', '/why-use-the-payday-hound/' %></p>
</div>
<div class = "show_160x600">
	<% link_to(image_tag("banners/rise-160x600.gif", :alt => 'net-credit' ), partner_path(194), :rel =>'nofollow', :target => 'blank')  %>
</div>	



