<% # title and description for seo %>
<% content_for :seotags do %>
<title>Compare <%= pluralize(@lenders.size, 'Online Payday Loans') %> - The Payday Hound</title>
<meta name="description" content="Find the best fees and requirements across <%= pluralize(@lenders.size, 'online payday lenders') %>. Make an informed decision on payday loans and your needs."/>
<% end %>

<div id="wrapper">
<aside id ="sidebarFinder">

		<% # render(:partial => "shared/sidebars/paydayfinder")%>
    <%= render(:partial => "shared/sidebars/sidebar")%>

</aside>


<section id="mainContent">

<h1>Payday Loans</h1>
<p>Payday loans are loans based on your pay check. The lure of payday loans is their simplicity, quick access to cash, and lack of credit requirements. The risk of payday loans is that users can quickly fall into a vicious debt cycle if payday loans are used incorrectly, as fees add up very quickly. Payday loans are designed for short-term, emergency funding. They are designed to be a last resort option if other emergency sources of money, such as bank loans, credit cards, or even loans from friends and family, have been exhausted. Payday loans are ill-suited for longer term credit needs and greatly increase the risk of borrowers entering a debt cycle.</p>
<p>If a payday loan is right for you, the application process can be quick, taking 5-10 minutes, and approval is often instant. To qualify one must be employed, have direct deposit, and be over 18 years old. If approved, the money is generally deposited into your checking account by the next business day. The deposited cash is a loan and is due in full your next pay period plus fees. Fees vary and can be anywhere from $10 to $45 per $100 borrowed. These loans can sometimes be renewed, but additional fees are incurred. These costs add up quickly, as you end up paying fees on your fees. Renewing is generally not a good choice, so if you believe you are unable to pay your loan in full at your next pay period, consider an <%= link_to 'installment loan', term_loans_path %>. Payments for installment loans are spread out over multiple pay periods. To learn more about installment loans versus payday loans, see <a href="/payday-loan-or-installment-loan/" >Installment Loan or Payday Loan</a>. To learn more about payday lending, visit <%= link_to('Choosing a Payday Loan', "/choosing-a-payday-loan/") %> and <%= link_to('How Payday Loans Work', "/how-payday-loans-work/") %>.</p>
<p>The table below contains all our lender reviews. We rank lenders according to our <%= link_to "Sniff Test", '/infos/about' %> (reputation), costs, and licensing.</p> 

		<%= render 'shared/state_selector' %>

    <%= render(:partial => "shared/tables/payday_loan_table")%>

    <%=  render(:partial => "shared/media_counters")%>

</section>
</div>