<% # title and description for seo %>
<% content_for :seotags do %>
<title>Payday Loans: In-Depth Reviews and Independent Rankings</title>
<meta name="description" content="Reviews and rankings of payday loan lenders by state. The Payday Hound aims to help you make informed decisions on payday loans."/>
<% end %>

<div id="wrapper">
<aside id ="sidebarFinder">

		<% # render(:partial => "shared/sidebars/paydayfinder")%>
    <%= render(:partial => "shared/sidebars/sidebar")%>

</aside>


<section id="mainContent">

<h1>Payday Loans</h1>

		<%= render 'shared/state_selector' %>

<p>Payday loans are loans based on your payday. The lure of payday loans is that they are quick and easy and do not require good credit; however, their use must be managed carefully to avoid a vicious debt cycle, as fees on payday loans add up very quickly. They are designed for short-term, emergency funding and are best used as a last resort if other options, such as bank loans, credit cards, or even loans from friends and family, have been exhausted. Payday loans are ill-suited for longer term credit needs and greatly increase the risk of borrowers entering a debt cycle.</p>
<p>If a payday loan is your only choice, you will find the application process can be quick, taking 5-10 minutes and approval is often instant. You must be employed, have direct deposit, and be over 18 years old. If approved, the money is generally deposited into your checking account by the next business day. The cash is a loan and is due in full your next pay period plus fees. Fees vary and can be anywhere from $10 to $45 for $100 borrowed. These loans can sometimes be renewed, but additional fees are incurred. These costs add up quickly, as you end up paying fees on your fees. Renewing is not a good option, so if you believe you are unable to pay your loan in full at your next pay period, you may consider an installment loan. Installment loans are due over a longer period of time. To learn more about installment loans versus payday loans, see <a href="/payday-loan-or-installment-loan/" >Installment Loan or Payday Loan</a>. To learn more about payday lending, visit <%= link_to('Choosing a Payday Loan', "/choosing-a-payday-loan/") %> and <%= link_to('How Payday Loans Work', "/how-payday-loans-work/") %>.</p>
<p>The table below contains all our lender reviews. We rank lenders according to our <%= link_to "Sniff Test", '/infos/about' %> (reputation), costs, and licensing. Click on your state to see lenders that provide loans in your state.</p> 

    <%= render(:partial => "shared/tables/payday_loan_table")%>



<div class = "socialMedia">
	<span class='st_facebook_hcount' displayText='Facebook'></span>
	<span class='st_googleplus_hcount' displayText='Google +'></span>
	<span class='st_twitter_hcount' displayText='Tweet'></span>
	<span class='st_email_hcount' displayText='Email'></span>
	<span class='st_sharethis_hcount' displayText='ShareThis'></span>
</div>

</section>
</div>