<% # title and description for seo %>
<% content_for :seotags do %>
<title><% if "Compare #{@state.state} #{@keyword.phrase.titleize} | The Payday Hound".length < 70 %><%= "Compare #{@state.state} #{@keyword.phrase.titleize} | The Payday Hound"%><% else %><%="Compare #{@state.state} #{@keyword.phrase.titleize}"%><% end %></title>
<meta name="description" content= "<%= "Compare #{@state.state} #{@keyword.phrase}. Search for the lowest fees. Apply direct. Get the best rates in #{@state.state_abbr} at The Payday Hound." %>" />
<% end %>


	<aside id ="sidebarFinder">	

			<%# render(:partial => "shared/sidebars/paydayfinder")%>
	    <%= render(:partial => "shared/sidebars/sidebar")%>	

	</aside>

	<section id = "mainContent">
		<%# if @offered_states.include? @state.state_abbr %>
		<!--
		<div class = "show_728x90">
			<%= link_to(image_tag("banners/net-credit-728x90.gif", :alt => 'net-credit' ), partner_path(194), :rel =>'nofollow', :target => 'blank')  %>
		</div> -->
		<% #end %>

		<% if @paid_lenders.blank? %>
			<div class = "show_728x90">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- LeaderBoard -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:728px;height:90px"
				     data-ad-client="ca-pub-2559833851997252"
				     data-ad-slot="4100870167"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		<% end %>


		<h1><%= "#{@state.state}" %></br><%= @keyword.phrase.titleize %></h1>	
		<% if !@paid_lenders.blank? %>
			<% @paid_lenders.first(2).each_with_index do |p, i| %>
				<% @lender = p %>
				<%= render(partial: "lenders/lender_introbox", locals: {state: @state, keyword:@keyword, i: i} ) %>
			<% end %>

		<% end %>


		<div>
			<% case @paydaylawstate.legal_status_summary %>
			<% when "Legal" %>
			<% #**** for states that regulate payday lending *** %> 
				<p><%= @state.state %> residents can choose from <%= @state.state %> licensed, out-of-state licensed, tribal-based and foreign-based lenders for their <%= @keyword.category=="loans" ? @keyword.phrase : "payday loans" %>.</p>	

				<p>The Payday Hound strongly prefers licensed <%= @keyword.category=="lenders" ? @keyword.phrase : "payday lenders" %> as the <%= @paydaylawstate.regulator %> evaluates, regulates, and monitors the <%= @keyword.category=="loans" ? @keyword.phrase : "payday loans" %> made by these lenders. See <%= link_to("#{@state.state} Payday Loan Laws", payday_loan_law_path(@state.state_abbr.downcase)) %> for more details on <%= @state.state %> laws and regulations or <%= link_to @keyword.phrase.titleize, "/#{@keyword.word.gsub(' ','-')}/" %> for more general information.</p>
			<% else %>
			<% #**** for states where payday lending is prohibited %>
				<p><%= @keyword.category=="lenders" ? @keyword.phrase.humanize : "Payday lenders" %> are prohibited by <%= @state.state %> regulators from offering <%= @keyword.category=="loans" ? @keyword.phrase : "payday loans" %> to <%= @state.state %> residents. This means there are no <%= @state.state %> licensed or regulated <%= @keyword.category=="lenders" ? @keyword.phrase : "payday lenders" %> in <%= @state.state %>. Although The Payday Hound discourages it, <%= @state.state %> residents may be able to choose from tribal, out-of-state, or foreign-based lenders for <%= @keyword.category=="loans" ? @keyword.phrase : "payday loans" %>. See <%= link_to("#{@state.state} Payday Loan Laws", payday_loan_law_path(@state.state_abbr.downcase)) %> for links to <%= @state.state %> banking and finance regulators. These links will provide more information on the legal aspects of payday lending in <%= @state.state %>. In states where payday lending is permitted, lenders are licensed and regulated by the state. </p>  			
			<% end %>
			<% # ****this section is the closing for both cases above %>
	 		<p>Unlicensed <%= @keyword.category=="lenders" ? @keyword.phrase : "payday lenders" %> include tribe-based lenders, lenders licensed in other states, and foreign-based lenders. Tribal and out-of-state licensed <%= @keyword.category=="lenders" ? @keyword.phrase : "payday lenders" %> operate under the interpretation that they can export their tribe or state laws into <%= @state.state %> and are required to adhere to federal lending laws but not <%= @state.state %> regulations. Federal laws may be less restrictive and less frequently enforced. The final group of lenders is foreign-based payday loan lenders. They export their countries' laws into <%= @state.state %> and are highly unregulated. See <%= link_to("Choosing A Payday Loan", "/choosing-a-payday-loan/") %> for more details. </p>

	 		<p>The above is our understanding of how payday lending works in <%= @state.state %>, but we are not a law firm. Please contact the <%= link_to("#{@paydaylawstate.regulator}", @paydaylawstate.regulator_site, :rel => 'nofollow') %> for more information. </p>
	 		<p>The Payday Hound reviews <%= @keyword.category=="lenders" ? @keyword.phrase : "payday lenders" %>  and ranks them according to our <%= link_to "Sniff Test", '/infos/about' %> (reputation), costs, and licensing. The list below includes both regulated banks as well as off-shore entites. Being included on our list is not an endorsement or certification. The list is a ranking and is designed to help borrowers rate and judge the quality of lenders. This means it may include lenders we believe to be honest as well as those we would deem to be predatory.</p> 
		</div>
    <%=  render(:partial => "shared/tables/payday_loan_table")%>


		<div class = "clearboth"></div>		

    <%=  render(:partial => "shared/media_counters")%>
		
	</section>
