<% # shows lenders in a table
# used by lenders and index views %>

  <!-- calls matching service apply section -->
  <% # render(:partial => "shared/applypayday")%>
  <!-- calls matching service apply section -->

  <div id="clearboth"></div>
  <p class = "tableIntro">We have reviewed <%= pluralize(@lenders.size, !(defined? @state.state).nil? ? "#{@state.state} payday loan lender" : "payday loan lender") %><% if (@criteria.sniff.sniff_desc.downcase != 'bad') | (@criteria.ranking >0 ) %>
     with a
    <% end %>
    <% if @criteria.sniff.sniff_desc.downcase != 'bad' %>
    Sniff score of <%= @criteria.sniff.sniff_desc.downcase %> or better and a 
    <% end %>
    <% if @criteria.ranking >0 %>
    Rating of <%= pluralize(number_to_human(@criteria.ranking), 'star') %> or better<% end %>.</p>

  <table class="listing" summary="full lender list">
    <tr class="tableHeader">
     <th><%= !(defined? @state.state_abbr).nil? ? "#{@state.state_abbr} Lender" : "Company Name" %></th>
     <th>Description</th>
     <th>Costs*</th>
     <th>Sniff</th>
     <th>Rating</th>

    </tr>
    <% @lenders.each do |l| %>
    <% if l.active %>
      <tr>
        <td>
          <div><%= link_to(image_tag("lendersm/#{l.image_file}", :alt => l.name ), partner_path(l.partner_id), :rel =>'nofollow', :target => 'blank', onclick: "ga('send', 'event', 'image', 'click', 'table #{l.lender_type} #{l.paid == true ? 'paid' : 'unpaid'}');")  %></div>
        </td>
        <td>
          <div><%= l.first_comment %></div>
          <div><%= l.second_comment %></div>
          <div>Governing Law: <%= l.governing_law %></div>
          <div><%= link_to('see review', lender_path(l.review_url)) %></div>
        </td>    
        <td class = "paydayTableCosts">
          <%# if not index table and state pricing is available %>
          <% if !@state.nil? && !((state_pricing = l.payday_loans_states.find_by_state_id(@state.id)).cost.blank?)  %>
            <div>Loan Amt: <%= number_to_currency(state_pricing.loan_amt, precision: 0) %></div>
            <div>APR: <%= number_to_percentage(state_pricing.apr*100, :precision => 0) %></div>
            <div>Cost: <%= number_to_currency(state_pricing.cost) %></div>
          <%# show default pricing if in index or no state pricing available%>  
          <% else  %>
            <div>Loan Amt: <%= l.loan_amt.blank? ? "?" : number_to_currency(l.loan_amt, precision: 0) %></div>
            <div>APR: <%= l.apr.blank? ? "?" : number_to_percentage(l.apr*100, :precision => 0) %></div>
            <div>Cost: <%= l.cost.blank? ? "?" : number_to_currency(l.cost) %></div>
          <% end %>  
        </td>
        <td><%= l.sniff.sniff_desc %></td>
        <td class = "rank<%= l.ranking.round %>">
          <div class = "tableApply"><%= link_to("Apply", partner_path(l.partner_id), :rel =>'nofollow', :target => 'blank', onclick: "ga('send', 'event', 'link', 'click', 'table #{l.lender_type} #{l.paid == true ? 'paid' : 'unpaid'}');")  %></div>
        </td>
      </tr>
    <% end %>
    <% end %>
  </table>

  <p class = "tableIntro">
    <% if @state.blank? %>
    * Costs vary by state. Cost shown are based on pricing for Delaware residents when available. Check each lender's website for updated information. Some lender's will not provide pricing data until an application is completed.
    <% else %>
    * When avaiable we have shown pricing for <%= @state.state %> residents. Check each lender's website for updated information. Some lender's will not provide pricing data until an application is completed.
    <% end %>
  </p>

  <%= render(partial:'shared/ads/g_728x90_payday_bottom') if AD_SENSE %>