<% # shows lenders in a table
# used by lenders and index views %>

  <!-- calls matching service apply section -->
  <% # render(:partial => "shared/applypayday")%>
  <!-- calls matching service apply section -->

  <div id="clearboth"></div>
  <p class = "tableIntro">We have reviewed <%= pluralize(@lenders.size, !(defined? @state.state).nil? ? "#{@state.state} payday loan lender" : "payday loan lender") %><% if (@criteria.sniff.sniff_desc.downcase != 'bad') | (@criteria.ranking >0 ) %>
     with a
    <% end %>
    <% if @criteria.sniff.sniff_desc.downcase != 'bad' %>
    Sniff score of <%= @criteria.sniff.sniff_desc.downcase %> or better and a 
    <% end %>
    <% if @criteria.ranking >0 %>
    Rating of <%= pluralize(number_to_human(@criteria.ranking), 'star') %> or better<% end %>.</p>

  <table class="listing" summary="full lender list">
    <tr class="tableHeader">
     <th><%= !(defined? @state.state_abbr).nil? ? "#{@state.state_abbr} Lender" : "Company Name" %></th>
     <th>Description</th>
     <th>Cost</th>
     <th>APR</th>
     <th>Sniff</th>
     <th>Rating</th>

    </tr>
    <% @lenders.each do |l| %>
    <% if l.active %>
      <tr>
        <td>
          <div><%= link_to(image_tag("lendersm/#{l.image_file}", :alt => l.name ), partner_path(l.partner_id), :rel =>'nofollow', :target => 'blank')  %></div>
        <div><%= link_to("Apply Direct", partner_path(l.partner_id), :rel =>'nofollow', :target => 'blank')  %></div>
        </td>
        <td>
          <div><%= l.first_comment %></div>
          <div>Governing Law: <%= l.governing_law %></div>
          <div><%= link_to('see review', lender_path(l.review_url, type: 'payday')) %></div>
        </td>    
        <td><%= l.cost.nil? ? "?" : number_to_currency(l.cost) %></td>
        <td><%= l.apr.nil? ? "?" : number_to_percentage(l.apr*100, :precision => 0) %></td>
        <td><%= l.sniff.sniff_desc %></td>
        <td class = "rank<%= l.ranking.round %>"></td>
      </tr>
    <% end %>
    <% end %>
  </table>

  <p class = "tableIntro">* Costs vary by state. The comparisions above use pricing for Delaware residents when available. Check each lender's website for updated information. Some lender's will not provide pricing data until an application is completed.</p>

  <%= render(partial:'shared/ads/google_728x90') %>