<% # shows lenders in a table
# used by lenders and index views for term loans %>

  <!-- calls matching service apply section -->
  <% # render(:partial => "shared/applypayday")%>
  <!-- calls matching service apply section -->

  <div id="clearboth"></div>
  <p class = "tableIntro">We have reviewed <%= pluralize(@lenders.size, !(defined? @state.state).nil? ? "#{@state.state} installment loan lender" : "installment loan lender") %><% if (@criteria.sniff.sniff_desc.downcase != 'bad') | (@criteria.ranking >0 ) %>
     with a
    <% end %>  
    <% if @criteria.sniff.sniff_desc.downcase != 'bad' %>
    Sniff score of <%= @criteria.sniff.sniff_desc.downcase %> or better and a 
    <% end %>
    <% if (@criteria.sniff.sniff_desc.downcase != 'bad') | (@criteria.ranking >0 ) %>
    Rating of <%= pluralize(number_to_human(@criteria.ranking), 'star') %> or better<% end %>. A listing in this table is not an endorsement. This table includes all lenders we have reviewed.</p>  
  <table class="listing" summary="full lender list">
    <tr class="tableHeader">
     <th><%= !(defined? @state.state_abbr).nil? ? "#{@state.state_abbr} Lender" : "Company Name" %></th>
     <th>Description</th>
     <th>Costs*</th>
     <th>Sniff</th>
     <th>Rating</th>

    </tr>
    <% @lenders.each do |l| %>
    <tr>
      <td>
          <div><%= link_to(image_tag("lendersm/#{l.image_file}", :alt => l.name ), partner_path(l.partner_id), :rel =>'nofollow', :target => 'blank', onclick: "ga('send', 'event', 'image', 'click', 'table #{l.lender_type} #{l.paid == true ? 'paid' : 'unpaid'}');")  %></div>
          
      </td>
      <td>
        <div><%= l.first_comment %></div>
        <div><%= l.second_comment %></div>
        <div>Governing Law: <%= l.governing_law %></div>
        <div><%= link_to('see review', lender_path(l.review_url)) %></div>
      </td>
      <td class = "termTableCosts">
        <div>APR: <%= l.apr.nil? ? "?" : l.apr %></div>
        <div>Amount: <%= l.loan_amt.nil? ? "?" : l.loan_amt %></div>
        <div>Payments: <%= l.payments.nil? ? "?" : l.payments %></div>
        <div>Freq: <%= l.pmt_freq_in_days.nil? ? "?" : l.pmt_freq_in_days %></div>
        <div>Cost: <%= l.cost.nil? ? "?" : l.cost %></div>
      </td>
      <td><%= l.sniff.sniff_desc %></td>
      <td class = "rank<%= l.ranking.round %>">
        <div class = "tableApply"><%= link_to("Apply", partner_path(l.partner_id), :rel =>'nofollow', :target => 'blank', onclick: "ga('send', 'event', 'link', 'click', 'table #{l.lender_type} #{l.paid == true ? 'paid' : 'unpaid'}');")  %></div>
      </td>
    </tr>
    <% end %>
  </table>

  <p class = "tableIntro">* Costs vary by state. The comparisions above use pricing for Delaware residents when available. Calculating costs with ranges is very complicated. If lender's do not give pricing across ranges we selected sample rates, terms, and loan amounts. The actual rate provided by the lender will be based on your state, applications, and other factors. Please check each lender's website for accurate pricing. These our only estimates. Some lender's will not provide pricing data until an application is completed.</p>

  <%= render(partial:'shared/ads/g_728x90_term_bottom') if AD_SENSE %>