<% # shows lenders in a table
# used by lenders and index views for term loans %>

  <!-- calls matching service apply section -->
  <% # render(:partial => "shared/applypayday")%>
  <!-- calls matching service apply section -->

  <div id="clearboth"></div>
  <p class = "tableIntro">We have reviewed <%= pluralize(@lenders.size, !(defined? @state.state).nil? ? "#{@state.state} installment loan lender" : "installment loan lender") %> 
    <% if (@criteria.sniff.sniff_desc.downcase != 'bad') | (@criteria.ranking >0 ) %>
     with a
    <% end %>  
    <% if @criteria.sniff.sniff_desc.downcase != 'bad' %>
    Sniff score of <%= @criteria.sniff.sniff_desc.downcase %> or better and a 
    <% end %>
    <% if (@criteria.sniff.sniff_desc.downcase != 'bad') | (@criteria.ranking >0 ) %>
    Rating of <%= pluralize(number_to_human(@criteria.ranking), 'star') %> or better<% end %>.</p>
  <table class="listing" summary="full lender list">
    <tr class="tableHeader">
     <th><%= !(defined? @state.state_abbr).nil? ? "#{@state.state_abbr} Lender" : "Company Name" %></th>
     <th>Description</th>
     <th>Costs</th>
     <th>Sniff</th>
     <th>Rating</th>

    </tr>
    <% @lenders.each do |l| %>
    <tr>
      <td>
          <div><%= link_to(image_tag("lendersm/#{l.image_file}", :alt => l.name ), partner_path(l.partner_id), :rel =>'nofollow', :page => @page, :target => 'blank')  %></div>
          <div><%= link_to("Apply Direct", partner_path(l.partner_id), :rel =>'nofollow', :page => @page, :target => 'blank')  %></div>
      </td>
      <td>
        <div><%= l.first_comment %></div>
        <div>Governing Law: <%= l.governing_law %></div>
        <div><%= link_to('see review', "/learn/#{l.review_url}") %></div>
      </td>
      <td class = "termTableCosts">
        <div>APR: <%= l.apr.nil? ? "?" : number_to_percentage(l.apr*100, :precision => 0) %></div>
        <div>Amount: <%= l.loan_amt.nil? ? "?" : number_to_currency(l.loan_amt) %></div>
        <div>Payments: <%= l.payments.nil? ? "?" : number_with_precision(l.payments, :precision => 0) %></div>
        <div>Freq (days): <%= l.pmt_freq_in_days.nil? ? "?" : number_with_precision(l.pmt_freq_in_days, :precision => 0) %></div>
        <div>Cost: <%= l.cost.nil? ? "?" : number_to_currency(l.cost, :precision => 0) %></div>
      </td>
      <td><%= l.sniff.sniff_desc %></td>
      <td class = "rank<%= l.ranking.round %>"></td>
    </tr>
    <% end %>
  </table>