<div class = "cardFeatures">                            
  <table>
    <thead>
      <tr>
        <th colspan ="2">Card Fees Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td>      
        <table>   
          <tr>
            <td><b>Activation Fee</b></td>
            <td><%= number_to_currency(p.activation_fee) %></td>
          </tr>
          <tr>
            <td><b>Monthly Fee<%= "*" if !p.reduce_mth_fee_load_amt.nil? %></b></td>
            <td><%= p.mth_fee_dep.nil? ? "?" : number_to_currency(p.mth_fee_dep) %> w/ direct dep</td>
          </tr>
          <tr>
            <td><b></b></td>
            <td><%= p.mth_fee_no_dep.nil? ? "?" : number_to_currency(p.mth_fee_no_dep) %> no direct dep</td>
          </tr>                 
          <tr>
            <td><b>Call Center</b></td>
            <td><%= p.call_center_desc %></td>
          </tr>                              
          <tr>
            <td><b>LOAD FEES</b></td>
            <td></td>
          </tr>
          <tr>
            <td>&nbsp- Cash Reload Fee***</td>
            <td><%= number_to_currency(p.load_fee, :precision => 2) %> /day</td>
          </tr>
          <tr>
            <td>&nbsp- Direct Deposit</td>
            <td>Free (same as others)</td>
          </tr>
          <tr>
            <td colspan = 2><%= "* Load #{number_to_currency(p.reduce_mth_fee_load_amt, :precision => 0)} /mth and monthy fee is #{ number_to_currency(p.reduce_mth_fee, :precision => 0)}" if !p.reduce_mth_fee_load_amt.nil? %></td>
          </tr>   
          <tr>
            <td colspan ="2" >***None of the cards we carry charge load fees but to get cash onto your card 3rd party networks may charge you fees. Some cards own networks, have bank branch access, or retail store access and reduce the fee's charged. We include the different variations of all these fees based on your usage.</td>
          </tr>                                                  
        </table>  
      </td>
      <td>
        <table>                              
          <tr>
            <td><b>ATM**</b></td>
          </tr>
          <tr>
            <td>&nbsp- Balance Inquiry</td>
            <td><%= p.atm_bal_fee.nil? ? "?" : number_to_currency(p.atm_bal_fee) %> /inquiry</td>
          </tr>
          <tr>
            <td>&nbsp- Out of Network</td>
            <td><%= p.atm_out_net_fee.nil? ? "?" : "#{number_to_currency(p.atm_out_net_fee)} /withdrawal" %></td>
          </tr>
          <tr>
            <td>&nbsp- In Network<%= "****" if ( !p.atm_in_net_fee_no_dep.nil? and !( p.atm_in_net_fee_no_dep == p.atm_in_net_fee_dep )) %></td>
            <td><%= p.atm_in_net_fee_no_dep.nil? ? "N/A" : "#{number_to_currency( @direct_dep ? p.atm_in_net_fee_dep : p.atm_in_net_fee_no_dep)} /withdrawal" %></td>
          </tr>   
          <tr>
            <td><b>Transaction Fee (signature)</b></td>
            <td><%= p.trans_fee_signature.nil? ? "?" : number_to_currency(p.trans_fee_signature) %> /transaction</td>
          </tr>
          <tr>
            <td><b>Online Bill Pay</b></td>
            <td><%= p.bill_pay_elec %></td>
          </tr>
          <tr>
            <td><b>Online Acct Access</b></td>
            <td><%= p.online_acct %></td>
          </tr>  
          <tr>
            <td colspan ="2">**Out of Network ATM owners charge an average fee of $2.50 fees in addition to the fees above. Cards with In Network ATM access waive this owner's charge (but may charge a card fee). We include the different variations of all these fees based on your usage.</td>
          </tr>
          <tr>
            <td colspan ="2"><%= "****In Network withdrawals are #{number_to_currency(p.atm_in_net_fee_dep, :precision => 0)} w/ direct deposit and #{number_to_currency(p.atm_in_net_fee_no_dep, :precision => 0)} w/o" if ( !p.atm_in_net_fee_no_dep.nil? and !( p.atm_in_net_fee_no_dep == p.atm_in_net_fee_dep ))%></td>
          </tr>                                  
        </table>
      </td>
      </tr>
    </tbody>
  </table>  
</div>  