<section class = "introArticles">
	<h2>the payday hound research</h2>
	<div = "clearboth"></div>
	<div class = "introArticleCol boxLeft"> 
		<article>		 		
			<div class = "introArticleContent">
				<h3><a href="/quick-fast-loans/">Find the Best Quick Fast Loans</a></h3>
		 		<div class = "introArticleBlurb">We evaluate five types of quick fast loans or loans that provide cash in less than 24 hours and can be repaid in 14 days. We then evaluated these five types of loans based on cost and lender requirements.</div>
			</div>
			<%= image_tag("Quick-Fast-Loans-sm.png", :alt => "Quick Fast Loans", :size => "100x67" ) %>
		</article>

		<article>
			<div class = "introArticleContent">
				<h3><a href="/payday-loan-or-installment-loan/">Payday Loan or Installment Loan</a></h3>
				<div class = "introArticleBlurb">There are two types of short term loans in the market that are underwritten based on your pay check: payday loans and installment loans.</div>
			</div>
			<%= image_tag("payday-or-installment-loan-sm.png", :alt => "Payday Or Term Loans", :size => "100x103" ) %>
		</article>

	</div>
	<div class = "introArticleCol boxRight"> 
		<article>				
			<div class = "introArticleContent">
				<h3><a href="/how-payday-loans-work/">How Payday Loans Work</a></h3>
				<div class = "">Payday loans are designed to meet short-term, emergency cash needs. They were created to get cash into a borrower's hands as quickly as possible. The application process is streamlined with minimal documentation.</div>
			</div>
			<%= image_tag("how-payday-loans-work-sm.png", :alt => "How Payday Loans Work", :size => "100x67" ) %>
		</article>
		<article>	
			<div class = "introArticleContent">
				<h3><a href="http://www.americanbanker.com/bankthink/get-more-transparency-in-payday-lending-1049381-1.html">Let's Get More Transparency in Payday Lending</a></h3>
				<div class = "">Every year, despite the risks and high costs, millions of Americans turn to payday loans for emergency funds. To improve protection of consumers and encourage this industry to mature, regulation should be joined by efforts that encourage market transparency.</div>
			</div>
			<%= image_tag("bank-think.png", :alt => "Bank Think", :size => "100x53" ) %>
		</article>
	</div>
	<div class = "introArticleCol boxMiddle"> 
		<article>	
			<div class = "introArticleContent">
				<h3><a href="/choosing-a-payday-loan/">Choosing a Payday Loan</a></h3>
				<div class = "">Choosing a payday loan requires finding an honest lender with the best price. The best option, if available, is a low priced, state licensed lender.</div>
			</div>
			<%= image_tag("choosing-a-payday-loan-sm.png", :alt => "Payday Loan Choices", :size => "100x86" ) %>
		</article>
	 	<article>
	 		<div class = "introArticleContent">
	 			<h3><a href="/wells-fargo-direct-advance-fridays/">Wells Fargo -- Direct Advance Fridays</a></h3>
	 			<div class = "">Wells Fargo recently entered the payday lending space with a new product called Direct Deposit Advance. The Payday Hound believes it is an aggressively priced product and a very good option to consider when looking at short-term, emergency funding options such as payday loans.</div>
	 		</div>
	 		<%= image_tag("Wells-Fargo-Direct-Advance.png", :alt => "Wells Fargo Payday", :size => "100x108" ) %>
	 	</article>	
	</div>
</section>	

<div id = "homeWhyPDH">
	<ul>	
	  	<li><%= link_to("Why use the Payday Hound?", {:controller => 'infos', :action => 'why'}) %></li>
		<li><%= link_to("How do we make money?", {:controller => 'infos', :action => 'why'}) %></li>
		<li><%= link_to("How do our rankings work?", {:controller => 'infos', :action => 'why'}) %></li>
	</ul>
</div>
