<% # title and description for seo %>
<% content_for :seotags do %>
<title>Payday Loan Reviews and Rankings -- The Payday Hound</title>
<meta name="description" content="The Payday Hound provides detailed, independent reviews and rankings of payday loans."/>
<meta name="google-site-verification" content="R7LQuXZFKdL1rcaMn3XlFjrIHz333_Jsq2HzmdT8WFE" />
<% end %>


<!-- custom body text -->
<div id="wrapper">
	<section class = "introPaydayHound">
		<h1>Payday Loan Reviews and Rankings</h1>
		<ul>
			<li><%= link_to 'We believe an educated consumer is a protected consumer.', "/infos/about/" %></li>
			<li><%= link_to 'We aim to help you make informed choices regarding payday loans.', '/payday-loans/' %></li>
			<li><%= link_to 'We think market transparency improves pricing and regulatory compliance.', 'http://www.americanbanker.com/bankthink/get-more-transparency-in-payday-lending-1049381-1.html/', :rel => 'nofolow' %></li>
		</ul>
	</section>
	<section class = "introSelectCols">
		<div class = "introBox boxLeft">
			<div class = "introSelectBoxes"><%= link_to("learn", "/learn/") %></div>
		</div>
		<div class = "introBox boxRight">
			<div class = "introSelectBoxes"><%= link_to("apply", applicants_path) %></div>
		</div>
		<div class = "introBox boxMiddle">
			<div class = "introSelectBoxes"><%= link_to("compare", payday_loans_path) %></div>
		</div>
	</section>
	<section class = "introFree">
		this site is free <%= link_to '(learn how we get paid)', '/infos/about/' %>
	</section>

<div class="clearboth"></div>

<% # render 'homepageArticles' %>

</div>
