<% # title and description for seo %>
<% content_for :seotags do %>
<title>Payday Loan Reviews and Rankings -- The Payday Hound</title>
<meta name="description" content="The Payday Hound provides detailed, independent reviews and rankings of payday loans."/>
<meta name="google-site-verification" content="R7LQuXZFKdL1rcaMn3XlFjrIHz333_Jsq2HzmdT8WFE" />
<% end %>


<!-- custom body text -->
<div id="wrapper">
	<section class = "introPaydayHound">
		<h1>The Payday Hound...</h1>
		<ul>
			<li>believes an educated consumer is a protected consumer.</li>
			<li>aims to help you make informed choices regarding payday loans.</li>
			<li>thinks market transparency improves pricing and regulatory compliance.</li>
		</ul>
	</section>
	<section class = "introSelectCols">
		<div class = "introBox boxLeft">
			<div class = "introSelectBoxes"><%= link_to("learn", "/learn/") %></div>
		</div>
		<div class = "introBox boxRight">
			<div class = "introSelectBoxes"><%= link_to("apply", applicants_path) %></div>
		</div>
		<div class = "introBox boxMiddle">
			<div class = "introSelectBoxes"><%= link_to("find", "/payday-loans/") %></div>
		</div>
	</section>
	<section class = "introFree">
		this site is free <%= link_to '(learn how we get paid)', 'infos/about' %>
	</section>

<div class="clearboth"></div>
	<section class = "socialMedia">
		<%= link_to(image_tag("facebook.png", :alt => "Facebook"), "http://www.facebook.com/thepaydayhound", :title => "The Payday Hound Facebook Page", :class => "navFB navSocialFirst") %>		<%= link_to(image_tag("twitter.png", :alt => "Twitter" ), "http://www.twitter.com/thepaydayhound", :title => "The Payday Hound Twitter Page", :class => "navTwit") %>
		<%= link_to(image_tag("googleplus.png", :alt => "Google +" ), "https://plus.google.com/114318301384219988110", :title => "The Payday Hound Google Page", :class => "navG") %>
		<%= link_to(image_tag("rss.png", :alt => "RSS Feed" ), "http://www.thepaydayhound.com/feed", :title => "The Payday Hound Feed", :class => "navRSS") %>
	</section>

<% # render 'homepageArticles' %>

</div>
