<% # title and description for seo %>
<% content_for :seotags do %>
<title><% if "Compare #{@state.state} #{@keyword.phrase.titleize} | The Payday Hound".length < 70 %><%= "Compare #{@state.state} #{@keyword.phrase.titleize} | The Payday Hound"%><% else %><%="Compare #{@state.state} #{@keyword.phrase.titleize}"%><% end %></title>
<meta name="description" content= "<%= "Compare #{@state.state} #{@keyword.phrase}. Search for the lowest fees. Apply direct. Get the best rates in #{@state.state_abbr} at The Payday Hound." %>" />
<% end %>


<aside id ="sidebarFinder">	
		<%# render(:partial => "shared/sidebars/paydayfinder")%>
    <%= render(:partial => "shared/sidebars/sidebar")%>	
</aside>
<section id = "mainContent">
		<% if @paid_lenders.blank? %>
			<%= render(partial:'shared/ads/g_728x90_term_top') if AD_SENSE %>
		<% end %>
		
		<h1><%= "#{@state.state}" %> <%= @keyword.phrase.titleize %></h1>		

		<% if !@paid_lenders.blank? %>
			<% @paid_lenders.first(2).each_with_index do |p, i| %>
				<% @lender = p %>
				<%= render(partial: "lenders/lender_introbox", locals: {state: @state, keyword:@keyword, i: i} ) %>
			<% end %>

		<% end %>

	<% if @lenders.size > 0 %>
		<% case @keyword.category %>
			<% when 'military loans', 'military lenders' %>
				<p>Service members who are <%= @state.state %> residents can choose from <%= pluralize(@lenders.size, @keyword.category=="military lenders" ? @keyword.phrase[0..-2] : "military installment loan lender") %>. 
				<p>The lenders listed below include both civilian installment loan lenders and those specializing in military loans. Those who specialize in military installment loans are noted in the description. Please visit <%= link_to @keyword.phrase, "/#{@keyword.word.gsub(' ','-')}/" %> for more detailed information.<p>
				<p><%= @keyword.category=="military loans" ? (link_to @keyword.phrase.humanize, "/#{@keyword.phrase.gsub(' ','-')}/") : "Military installment loans" %> generally refer to a type of installment loan targeted at members of the military. Typically these loans are available to individuals with poor credit, are generally unsecured, and tied to your pay date. They are very easy to qualify for and, as they focus on military members, being overseas is usually not a problem. In addition, <%= @keyword.category=="military lenders" ? (link_to @keyword.phrase, "/#{@keyword.word.gsub(' ','-')}/") : "military lenders" %> are generally familiar with the financial demands of deployment or PCS moves. In many cases, loans can be pre-approved or based on military rank and a LES. The trade-off is the cost of these installment loans can be very high and are best used to meet unavoidable emergency expenses like utility bills or medical bills. It is best to make sure you have considered other options including friends and family before taking one. For longer term needs consider other <%= link_to 'Borrow Money Options','/borrow-money-options/' %> if at all possible.</p>		
				<p><%= @keyword.category=="military loans" ? @keyword.phrase.humanize : "Military installment loans" %> are not covered by the Military Lending Act which caps interest rates and affords other protections to borrowers. This means <%= @keyword.category=="military loans" ? @keyword.phrase : "military installment loans" %> are susceptible to predatory lending practices and regulations covering <%= @keyword.category=="military lenders" ? @keyword.phrase : "military installment lenders" %> will vary from FDIC regulated banks to unregulated offshore entities. Predatory lenders with aggressive and sometimes illegal lending tactics do exist so take precautions before signing any documents and only take out a short term loan if it's necessary. The Payday Hound believes state-licensed lenders or banks are a safer choice for borrowers and would avoid unlicensed lenders. See <%= link_to("#{@state.state} Payday Loan Laws", payday_loan_law_path(@state.state_abbr.downcase)) %> for additional resources or visit <%= "#{@state.state}" %>'s payday loan regulator, the <%= link_to("#{@paydaylawstate.regulator}", @paydaylawstate.regulator_site, :rel => 'nofollow') %> for more information. Estimated fees and payments for <%= "#{@state.state}" %> <%= @keyword.category=="military lenders" ? @keyword.phrase : "military installment lenders" %> are provided in the table below if available.</p>
				<p>The Payday Hound reviews <%= @keyword.category=="military lenders" ? @keyword.phrase : "military installment lenders" %> and ranks them according to our <%= link_to "Sniff Test", '/infos/about' %> (reputation), costs, and licensing. The list below includes both regulated banks as well as off-shore entites. Being included on our list is not an endorsement or certification. The list is a ranking and is designed to help borrowers rate and judge the quality of lenders. This means it may include lenders we believe to be honest as well as those we would deem to be predatory.</p> 				
			<% else %>			
				<p><%= @state.state %> residents can choose from <%= pluralize(@lenders.size, @keyword.category=="lenders" ? @keyword.phrase[0..-2] : "payday installment loan lender") %>.</p>
				<p><%= @keyword.category=="loans" ? @keyword.phrase.humanize : "Installment loans" %>  do not require good credit and, unlike traditional payday loans, are paid back over multiple pay periods. These loans are relatively expensive loans so make sure you have considered other options such as bank loans, credit cards, or friends and family before taking one.</p>					
				<p>Estimated fees and payments for <%= "#{@state.state}" %> <%= @keyword.category=="lenders" ? @keyword.phrase : "installment lenders" %> are provided in the table below. Many consumers prefer <%= @keyword.category=="loans" ? @keyword.phrase : "installment loans" %> over payday loans because loan repayment is spread out over a longer period of time which often makes these loans cheaper than payday loans if you need multiple pay periods to repay your loan. See <a href = "/payday-loan-or-installment-loan/")>Payday Loans or Installment Loans</a> for more information on comparing these two types of loans. Also you can visit <%= link_to @keyword.phrase.titleize, "/#{@keyword.word.gsub(' ','-')}/" %> for more general information.</p>
				<p><%= "#{@state.state}" %> regulation of <%= @keyword.category=="loans" ? @keyword.phrase : "installment loans" %> falls into a bit of a gray area as they sometimes fall outside of the technical definition of a payday loan and more into the area of general unsecured installment loans. See <%= link_to("#{@state.state} Payday Loan Laws", payday_loan_law_path(@state.state_abbr.downcase)) %> for additional resources or visit <%= "#{@state.state}" %>'s payday loan regulator, the <%= link_to("#{@paydaylawstate.regulator}", @paydaylawstate.regulator_site, :rel => 'nofollow') %> for more information.</p>	
				<p>The Payday Hound reviews <%= @keyword.category=="lenders" ? @keyword.phrase : "installment lenders" %>  and ranks them according to our <%= link_to "Sniff Test", '/infos/about/' %> (reputation), costs, and licensing. The list below includes both regulated banks as well as off-shore entites. Being included on our list is not an endorsement or certification. The list is a ranking and is designed to help borrowers rate and judge the quality of lenders. This means it may include lenders we believe to be honest as well as those we would deem to be predatory.</p> 
		<% end %>
	  <%=  render(:partial => "shared/tables/term_loan_table")%>
	<% else %>
		<p>There are no <%= @keyword.category=="lenders" ? @keyword.phrase : "installment lenders" %>  in <%= @state.state %>.</p>
		<p>Visit <%= link_to("#{@state.state} Payday Lenders", payday_loan_path(@state.state_abbr.downcase)) %> to see if there are any payday loan options or see <%= link_to("#{@state.state} Payday Loan Laws", payday_loan_law_path(@state.state_abbr.downcase)) %> for information on <%= "#{@state.state}" %> payday lending laws and additional resources.</p>
		<p>Since there are no <%= @keyword.phrase.humanize %> in your state you may consider a payday loan. These loans are quick, simple loans that can get you cash very quickly and do not require good credit. These loans are very expensive when compared to other options such as banks, credit cards, friends, and family so be sure to exhaust other options before considering a payday loan. <%= @keyword.phrase.humanize %> are best used for emergency expenses that are unavoidable such as a necessary car repair or urgent medical care and where repayment from the next paycheck is feasible.</p>
		<p>Similar to <%= @keyword.phrase.humanize %> payday lenders make loans based on your pay check. The typical process is once approved for a loan the payday lender will deposit funds directly into your checking account. At your next pay date the lender will automatically deduct the principal and fees from your checking account. These fees range from around $9 to $30 per $100 borrowed. So if you get $300 deposited into your checking account, on your next payday $327 to $390 will be automatically deducted from your account depending on the fee for your particular loan. If the full deduction can be made then the loan is paid in full and you are done. If you are unable to make this full payment some payday lenders allow you to renew the loan. The extension usually is at the same rate and you will pay fees on the unpaid fees from the previous loan. This means at your next payday (now the second payday since you took the loan) $356 to $507 will be automatically deducted from your account. As you can see the fees add up fast and one can end up owing in fees way more than the original loan so please be careful with these loans.</p>
		<p>You can also visit <%= "#{@state.state}" %>'s payday loan regulator, the <%= link_to("#{@paydaylawstate.regulator}", @paydaylawstate.regulator_site, :rel => 'nofollow') %> for additional information.</p>
	<% end %>
   <%=  render(:partial => "shared/media_counters")%>
</section>


