<% # title and description for seo %>
<% content_for :seotags do %>
<title><%= @state.state_abbr %> Installment Loans</title>
<meta name="description" content= '<%= "Rankings and reviews of #{@state.state_abbr} installment loans. The Payday Hound aims to help you make informed decisions on #{@state.state} installment loans." %>' />
<% end %>

<div id="wrapper">
	<aside id ="sidebarFinder">	

			<%= render(:partial => "shared/sidebars/paydayfinder")%>
	    <%= render(:partial => "shared/sidebars/sidebar")%>	

	</aside>

	<section id = "mainContent">
		<h1><%= "#{@state.state} (#{@state.state_abbr})" %> Installment Loans</h1>
	  <%=  render(:partial => "shared/tables/term_loan_table")%>

		
		<div class = "socialMedia">
			<span class='st_facebook_hcount' displayText='Facebook'></span>
			<span class='st_googleplus_hcount' displayText='Google +'></span>
			<span class='st_twitter_hcount' displayText='Tweet'></span>
			<span class='st_email_hcount' displayText='Email'></span>
			<span class='st_sharethis_hcount' displayText='ShareThis'></span>
		</div>

	</section>
</div>

