	<div class = "appMain">

    <div id ="appSidebar">
      <div class="appSidebarSeals">
        <%= image_tag("SSL_Seal.gif", :alt => "Security Seal", :style => "margin: 0px 35px") %>
        <%= link_to(image_tag("bank-think.png", :size => "100X53", :alt => "Bank Think"),"http://www.americanbanker.com/bankthink/get-more-transparency-in-payday-lending-1049381-1.html") %>
      </div>
      <div class="benefits">
        <ul>
          <li>Private, Safe, and Secure</li>
          <li>Instant Online Approvals</li>
          <li>No Faxing or Calling</li>
          <li>Up to $1000 in 24 Hours</li>
        </ul>
      </div>
      <div class = "quote">We aim to be honest and transparent.</div>
      <div class="clearboth"></div>
      <div class = "quote">Apply to 120+ lenders at once.</div>
      <div class="clearboth"></div>
    </div>  

    <div class="appFormBox">      

      <div class = "appForm">     
        <h1>How Much Cash Do You Need?</h1> 

        <%= form_tag({:controller => 'borrowers', :action => 'new'},:method => 'post', :id => "triageForm", :class => "") do %>

          <div class = "appLoanAmtBox">
            <div id="pSliderLoanAmt"></div>
            <div id="pLoanAmt">$<%= @requested_amount %></div> 
            <%= hidden_field_tag('requested_amount', @requested_amount) %>  
          </div>
          <div class = "appDataBox">

            <div class = "appSelectRow">
              <div class = "appSelectContainer appTextRight">I live in</div>
              <div class = "appSelectContainer appTextLeft appStyleSelect"><%= select_tag :state, options_for_select(us_states), :class => "required"  %></div>
            </div>

            <div class = "clearboth"></div>
            <div class = "appSelectRow">
              <div class = "appSelectContainer appTextRight">Transfer money to my</div>
              <div class = "appSelectContainer appTextLeft appStyleSelect"><%= select_tag :bank_account_type, options_for_select([['...',''],['Checking','CHECKING'],['Savings','SAVING'], ['No Bank Account', 'NONE']]), :class => "required"  %></div>
            </div>
            <div class = "clearboth"></div>       
            <div class = "appImportanceContainer">
              <div class = "clearboth"></div>       

              <div class = "appImportance">Your Loan Preferences</div>
              <div class = "appImportanceOptions">Not Important</div>
              <div class = "appImportanceOptions">Don't Care</div>
              <div class = "appImportanceOptions">Very Important</div>

              <div class = "clearboth"></div> 

              <div class = "appImportanceQuestions">Quick Cash Transfer</div>
              <div class = "appImportanceOptionsSelects"><%= radio_button_tag(:speed_sensitivity, "1") %></div>
              <div class = "appImportanceOptionsSelects"><%= radio_button_tag(:speed_sensitivity, "2", true) %></div>
              <div class = "appImportanceOptionsSelects"><%= radio_button_tag(:speed_sensitivity, "3") %></div>     

              <div class = "clearboth"></div>   

              <div class = "appImportanceQuestions">Low Fees</div>
              <div class = "appImportanceOptionsSelects"><%= radio_button_tag(:price_sensitivity, "1") %></div>
              <div class = "appImportanceOptionsSelects"><%= radio_button_tag(:price_sensitivity, "2", true) %></div>
              <div class = "appImportanceOptionsSelects"><%= radio_button_tag(:price_sensitivity, "3") %></div>     

              <div class = "clearboth"></div>   

              <div class = "appImportanceQuestions">State Licensed Lender</div>
              <div class = "appImportanceOptionsSelects"><%= radio_button_tag(:licensed_sensitivity, "1") %></div>
              <div class = "appImportanceOptionsSelects"><%= radio_button_tag(:licensed_sensitivity, "2", true) %></div>
              <div class = "appImportanceOptionsSelects"><%= radio_button_tag(:licensed_sensitivity, "3") %></div>        

              <div class = "clearboth"></div> 
            </div>    
            <div class = "clearboth"></div>
            <div class = "appYNContainer">
              <div class = "appYNQuestions">Active Duty/Military Dependent</div>
              <div class = "appYNOptions"><%= label_tag :active_military_true, "Yes" %>
              <%= radio_button_tag(:active_military, "true") %></div>
              <div class = "appYNOptions"><%= label_tag :active_military_false, "No" %>
              <%= radio_button_tag(:active_military, "false", true) %></div>

              <div class = "clearboth"></div> 

              <div class = "appYNQuestions">18 years or older</div>
              <div class = "appYNOptions"><%= label_tag :eighteen_true, "Yes" %>
              <%= radio_button_tag(:eighteen, "true", true) %></div>
              <div class = "appYNOptions"><%= label_tag :eighteen_false, "No" %>
              <%= radio_button_tag(:eighteen, "false") %></div> 
            </div>  
          </div>
         <div><%= submit_tag "Find a Loan", :class => "appFindLoanButton" %></div>      
        <% end %> 
      </div>

    </div>
  </div>  