<!DOCTYPE html><!-- HTML 5 -->
<html dir="ltr" lang="en-US">
<% #This layout is for clicks to partners from the main site. It's tables and blog articles. %>

<head>
  <title>Payday and Installment Loan Reviews | The Payday Hound</title>
	<meta name="description" content="Detailed, unbiased direct lender reviews. Find the best rates. Apply direct at The Payday Hound."/>
  <meta name="robots" content="noindex, nofollow">  


  <script type='application/javascript'>
      setTimeout(function() {
        window.location.href= "<%= @lender_url.html_safe %>";
	     }, 3*1000); 
	</script>

	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
  	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

 
</head>
<body>

  <%= render '/layouts/google_analytics' %>


<%= yield %>

  <%# place tracking pixel for paid partners %>
  <% if @paid_partner %>
  <img src= <%="//trc.taboola.com/contigodirectollc-sc/log/3/action?tim=#{rand(10**20)}&item-url=http://www.thepaydayhound.com/partners/#{@partner.id}/&name=conversion"%> width="0" height="0" />
  <img src="http://contigo.arcasync.com/TAGS/53c201808c493" width="0" height="0">
  <% end %>

</body>
</html>