<!DOCTYPE html><!-- HTML 5 -->
<html dir="ltr" lang="en-US">
<% # This is the main layout used for all public facing views %>
<head>
	<%= render '/layouts/header_tags' %>

</head>

<body>
	
	<%= render 'shared/layouts/header' %>
	

	<div id = "wrapper">

		
		<div id="logo"><%= link_to(image_tag("thepaydayhound-logo.png", :alt => "logo" ), "/")%></div>
		<div class = "navSpacer"></div>
		<nav>
				<div><a href="javascript:TogNav()" id="hamburger">&#9776;</a></div>

				<ul id="nav">
			    <li class = "navApply">
			        <%= link_to("Apply", applicants_path ) %>
			        <!-- Uncomment to include dropdown application
			        <ul>
			            <li><a href="javascript:TogApplication()" id="showApp">application [+]</a></li>			
			        </ul>
			    		-->
			    </li>
			    <li>
			        <%= link_to("Compare", "#") %>		
			        <ul>
			            <li><%= link_to("Payday Loans", payday_loans_path) %></li>
			            <li><%= link_to("Installment Loans", term_loans_path) %></li>			
			            <li><%= link_to("Prepaid Cards", prepaids_path, :class => "dropdownSubTitles") %></li>			
			            <li><%= link_to("Secured Cards", secureds_path, :class => "dropdownSubTitles") %></li>			
			        </ul>			

			    </li>
			    <li>
			        <%= link_to("Learn", "#") %>
			        <ul>
			            <li><%= link_to("All Articles", "/learn/") %></li>
			            <li><%= link_to("Payday Loans", "/category/payday-loans/") %></li>
			            <li><%= link_to("Installment Loans","/category/installment-loans/") %></li>			
			            <li><%= link_to("Payday Loan Laws", payday_loan_laws_path) %></li>
			        </ul>
			    </li>
			    <li>
			        <%= link_to("Home", "/") %>
			    </li>			
				</ul>
		</nav>
		<div class = "spacerUnderNav"></div>
		<section id = "applicationDropContainer">
			<% #	Uncomment to include dropdown application %>

  		<% # render 'shared/application/applicationFinder' %>
		</section>


		<!-- everything between header and footer -->

		<%= yield %>

		<!-- wrap everything between header and footer -->		
	</div> <!-- end wrapper div -->


	<%= render :partial => 'shared/layouts/footer' %>	 
	<%= debug(params) if Rails.env.development? %>	
</body>
</html>
