<!DOCTYPE html><!-- HTML 5 -->
<html dir="ltr" lang="en-US">
<% # This is the main layout used for all public facing views %>
<head>



	<% if content_for?(:seotags) %>
	<%= yield :seotags %>
	<% else %>
	<title>The Payday Hound: In-depth Reviews of Alternative Financial Products</title>
	<meta name="description" content="Detailed reviews and rankings of secured credit cards, prepaid cards and payday loans. The Payday Hound is the only site to focus on the underbanked market."/>
	<% end %>
	<% if content_for?(:followtags) %>
	<%= yield :followtags %>
	<% end %>
	<%= favicon_link_tag %>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<% #Add in during development test %>
  <% # <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"> %>
	<link rel="pingback" href="http://www.thepaydayhound.com/xmlrpc.php" />
	<link rel="alternate" type="application/rss+xml" title="The Payday Hound &raquo; Feed" href="http://www.thepaydayhound.com/feed/" />

		

	<%= render :partial => 'shared/layouts/jstyle' %>

	<% #sharethis social media buttons need this %>
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "c4b269e9-1ef6-45c2-9c17-f06808c72e53", doNotHash: true, doNotCopy: false, hashAddressBar: false});</script>
	<% # end sharethis social media buttons need this %>	

</head>

<body>
	<%= render :partial => 'shared/layouts/header' %>
<!-- everything between header and footer -->

	<%= yield %>

<!-- wrap everything between header and footer -->		
 
	<%= render :partial => 'shared/layouts/footer' %>	    
	<%= debug(params) if Rails.env.development? %>	
</body>
</html>
